
.main{
    overflow: hidden;
    position: relative;
}


.header{
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    height: var(--header-height);
    background-image: linear-gradient(0, #f1815b,#f53e2d);
    z-index: 999;
}

.header__navbar{
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.navbar__list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0;
    display: flex;
    align-items: center;
}

.list__item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.list__item--has-qr:hover .nav__qr-code{
    display: block;
}


.list__item-link,
.list__item{
    text-decoration: none;
    font-size: 1.3rem;
    display: inline-block;
    font-weight: 300;
    color: var(--white-color);
    
}

.list__item-link--dark{
    font-weight: 500;
}
.list__item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #FB9086;
    height: 12px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.icon-list-link{
    color: var(--white-color);
    text-decoration: none;
}
.icon-list-link:nth-child(1){
    margin-left: 4px;
}

.icon-list-link:nth-child(2){
    margin-left: 10px;
}


.list__item,
.icon-list__item,
.list__item-link{
    display: inline-flex;
    align-items: center;
}

.list__item:hover,
.icon-list__item:hover,
.list__item-link:hover{
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
}

.icon-list{
    display: inline-block;
}


.icon-list__item{
    color: var(--white-color);
    height: 16px;
    width: 16px;
    font-size: 1.6em;
    margin-left: -4px;
    padding: 0 10px 0 0;
}

.list__item--question,
.list__item--bell{
    font-size: 1.8rem;
    margin-top: -4px;
    margin-right: 2px;
}

.list__item--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* qr coder */

.nav__qr-code{
    position: absolute;
    background-color: var(--white-color);
    width: 186px;
    padding: 8px;
    border-radius: 2px;
    top: 118%;
    left: -8px;
    display: none;
    animation: fadeIn ease-in .3s;
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.18);
    z-index: 999;
} 

.nav__qr-code::before{
    position: absolute;
    top: -16px;
    left: 0;
    content: "";
    width: 100%;
    display: block;
    height: 20px;
}
.img-qr-code{
    width: 100%;
}
.qr-app{
    display: flex;
    justify-content: space-between;
}

.qr-dowload-img{
    height: 15px;
}

.qr-app-link:nth-child(1){
    margin-left: 11px;
}

.qr-app-link:nth-child(2){
    margin-right: 11px;
}

/* thông báo */

.header__notify{
    position: absolute;
    right: 0;
    top: 150%;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    transform-origin:90% top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacty, transform;
    display: none;
    border-radius: 2px;
    z-index: 999;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify ::before{
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 14px;
    top: -29px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -18px;
}



.header__notify-text--has-notify:hover .header__notify{
    display: block;
}

.header__notify-text{
    border-radius: 2px;
    cursor: text;
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-text h3{
    color: #ccc;
    margin: 0;
    font-size: 1.4rem;
    line-height: 40px;
    padding: 0 8px;
    font-weight: 300;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item:hover{
    opacity: 0.7;
}

.header__notify--viewed{
    background-color:rgb(238, 75, 43,0.09);
}

.header__notify-link{
    display: flex;
    text-decoration: none;
    padding: 12px;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.6rem;
    color: var(--back-color);
    font-weight: 400;
    line-height: 1.9rem;
}

.header__notify-sub{
    margin-top: 4px;
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
}

.header__notify-footer{
    display: flex;
}

.header__notify-btn{
    width: 100%;
    text-decoration: none;
    color: #888;
    padding: 8px 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

/* from đăng ký/ đang nhập */
.auth-from{
    width: 500px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    
}

.auth-from__container{
    padding: 0 32px;
}

.auth-from__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-from__heading{
    font-size: 2.2rem;
    font-weight: 400;
    
}

.auth-from__switch-btn{
    font-size: 1.6rem;
    color: #fe6433;
    cursor: pointer;
}

.auth-from__form{
    margin-top: 16px;
}

.auth-from__input{
    outline: none;
    width: 95%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border--color);
    border-radius: 2px;
}

.auth-from__input:focus{
    border-color: #888;
}

.auth-from__aside{
    padding: 0 12px;
    margin-top: 18px;
}

.auth-from__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-from__policy-link{
    text-decoration: none;
    color: #fe6433;
}

.auth-from__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-from__controls-back{
    margin-right: 8px;
}

.auth-from__socuals{
   margin-top: 44px;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
}

.socuals-icon {
    font-size: 1.8rem;
}

.socuals-icon--facebook{
    background-color: #3A5A98 !important;
    color: var(--white-color) !important;
}

.socuals-icon--facebook
.socuals-icon{
    color: var(--white-color);
}

.socuals-text{
    margin: 0 36px;
}

.socuals-icon--google{
    background-color: var(--white-color);
    color: #666;
}

.socuals-icon--google
.socuals-icon{
    color: red;
}


/* đăng nhập */

.auth-from__held{
    display: flex;
    justify-content: flex-end;
    
}

.auth-from__held-link{
    text-decoration: none;
    font-size: 1.4rem;
    color:#939393 ;
}

.auth-from__held-link-space{
    display: block;
    height: 22px;
    margin: 4px 16px 0;
    border-left: 1px solid #fff;
}

.auth-from__held--forgot{
    color: #f53e2d ;
}

/* header with search */

.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header-mobile-search{
    padding: 0 12px;
}

.header-mobile-search-icon{
    color: var(--white-color);
    font-size: 2.6rem;
}


.header-logo{
    width: 200px;
    cursor: pointer;
}

.header-logo-link{
    text-decoration: none;
    color: transparent;
}

.logo-img{
    width: 150px;
}

.header-search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header-cart{
    width: 150px;
    text-align: center;
    margin-top: 1px;
    
}

/* header-search */

.history-search{
    margin: -5px -8px;
}

.history-search-list{
    padding: 0;
    list-style: none;
    display:flex;
    align-items: center;
}

.history-search-item{

    padding: 0 8px;
    color: var(--white-color);
    font-size: 1.2rem;
    letter-spacing: 0.2px;
}


/* header-cart */

.header-cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    cursor: pointer;
}

.header-search-warp{
    flex: 1;
    height: 100%;
    position: relative;
}

.header-cart-number{
    position: absolute;
    top: -9px;
    right: -8px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.6rem;
    border-radius: 10px;
    line-height: 1.4rem;
    padding: 2px 8px;
    border: 1px solid#ee4d2d;
}

.header-search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
}

.header-search-selection{
    border-left: 1px solid rgb(240, 234, 234);
    display: flex;
    align-items: center;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header-search-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header-search-icon{
    padding: 0 8px;
    font-size: 1.4rem;
    color: #8f8e8e;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header-search-btn{
    background-color: var(--primary-color);
    outline: none;
    border: none;
    height: 32px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
}

.header-search-btn:hover{
    opacity: 0.5;
}

.header-search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header-search-option{
    position: absolute;
    right: 0;
    top: calc( 144% - 1px );
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    cursor: pointer;
    animation: fadeIn ease-in 0.2s;
    z-index: 9999;
}

.header-search-option::after{
    content: "";
    width: 100%;
    height: 52px;
    position: absolute;
    top: -41px;
    left: 0;
}

.header-search-selection:hover .header-search-option{
    display: block;
}

.header-search-option-item{
    background-color: var(--white-color);
    width: 134px;
    padding: 6px 0;
    list-style: none;
}

.header-search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header-search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.header-search-option-item span:hover{
    opacity: 0.5;
    cursor: pointer;
}

.header-search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left: 8px;
}

.header-search-option-item i{
    color: var(--primary-color);
    padding: 0 16px;
    margin-left: 3px;
    font-size: 1.4rem;
    display: none;
}

.option-item--active i{
    display: inline-block;
}

/* <!-- hover search --> */

.header-search-history{
    position: absolute;
    top: 111%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow:  0 1px 5px rgb(197, 189, 189);
    display: none;
    overflow: hidden;
    animation: fadeIn ease-in 0.2s;
    z-index: 9999999999;
}


.header-search-input:focus ~ .header-search-history{
    display: block;
    cursor: pointer;
}

.header-search-heading{
    padding: 0;
    color: #ccc;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 12px 12px;
   
}

.header-search-list{
    padding-left: 0;
    list-style: none;
}

.header-search-item{
    padding: 0 16px;
}

.header-search-item:hover{
    background-color: #fafafa;
}

.header-search-item a{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
    line-height: 38px;
    display: block;
}


/* no cart hover */
.header-cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
}

.header-cart-point-down{
    box-shadow: 0 2px 10px #ccc;
    position: absolute;
    top: calc(100% + 10px);
    right: -10px;
    background-color: var(--white-color);
    width: 410px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 9999;
}

.header-cart-wrap:hover .header-cart-point-down{
    display: block;
}

.header-cart-point-down-no-cart{
    padding: 24px 0;
}

.header-cart-point-down-no-cart .header-cart-view{
    display: none;
}

.header-cart-point-down-no-cart .header-cart-point-img,
.header-cart-point-down-no-cart .header-cart__text{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header-cart-point-down-no-cart .header-cart-list{
    display: none;
}

.header-cart-point-down::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 8px;
    top: -27px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header-cart-point-img{
    width: 60%;
    display: none;
}

.header-cart__text{
    display: none;
    font-size: 1.6rem;
    margin-top: 36px;
}

/* yes cart hover */
.header-cart__text-yes-cart{
    text-align: left;
    margin: 8px 0 8px 12px;
    color: var(--text-color);
    opacity: 0.7;
    font-weight: 300;
    padding: 18px 0;
    display: none;
    z-index: 9999;
}

.header-cart-point-down-yes-cart .header-cart__text-yes-cart,
.header-cart-point-down-yes-cart .header-cart-list{
    display: block;
}

.header-cart-list{
    list-style: none;
    padding-left: 0;
    max-height: 50vh;
    overflow-y: auto;
}

.header-cart-item{
    display: flex;
    margin-left: 12px;
    align-items: center;
}

.header-cart-img{
    width: 72px;
    height: 53px;
    padding: 12px;
    border: 1px solid#ccc;  
}

.header-cart-item-info{
    width: 100%;
    margin-left: 8px;
}

.header-cart-item-heding{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
}

.header-cart-item__name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header-cart-item-wrap{
    display: flex;
    align-items: center;
}

.header-cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
   
}

.header-cart-item-multipl{
    padding: 0 8px;
}

.header-cart-item-number{
    color: var(--text-color);
}

.header-cart-item-qnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -18px;
}

.header-cart-item-qnt-description{
    font-size: 1.2rem;
    color: #ccc;
}

.header-cart-item-delete{
    padding: 0 8px;
    font-size: 1.4rem;
    color: var(--text-color); 
    font-weight: 500;
}

.header-cart-view {
    width: 35px;
    text-align: center;
    margin: 0 12px 12px 0;
    display: none;
    line-height: 3.2rem;
    float: right;
}

.header-cart-view:hover{
    opacity: 0.5;
    cursor: pointer;
}

.no{
    display: none;
}

/* yes login */

.list__item-header-user{
   position: relative   ;
}

.list__item-img{
    height: 22px;
    width: 22px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 50%;
}

.list__item-name{
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    top: 1px;
}

.list__item-header-user-item-separe{
    border-top: 1px solid rgb(0, 0, 0, 0.05);
}

/* <!-- yes login  HOVER--> */
.list__item-header-user-list{
    height: 156px;
    background-color: var(--white-color);
    top: 28px;
    position: absolute;
    box-shadow: 0px 2px 3px #ccc;
    z-index: 1;
    border-radius: 2px;
    list-style: none;
    padding: 0;
    left: -34px;
    right: 0;
    display: none;
    z-index: 9999;
}

.list__item-header-user-list::after{
    content: "";
    position: absolute;
    top: -28px;
    right: 55px;
    border-width: 13px 13px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.list__item-header-user-list::before{
    content: "";
    display: block;
    position: absolute;
    top: -26px;
    right: 0;
    width: 83%;
    height: 30px;
}

.list__item-header-user:hover .list__item-header-user-list{
    display: block;
}

.list__item-header-user-item{
    padding: 12px 24px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
}

.list__item-header-user-item:hover{
    opacity: 0.4;
}

.list__item-header-user-item--green{
    color: #44bd32;
}

/* app container */

.app__container{
    background: center top / 100% no-repeat;
    background-color: #f5f5f5;
    margin-top: 120px;
    padding-bottom: 100px;
}

.slider-body{
    padding-top: 30px;
}

/* sileder header */


#radio1:checked ~ .first{
    margin-left: 0;
    
}

#radio3:checked ~ .first{
    margin-left: -20%;
}

#radio4:checked ~ .first{
    margin-left: -40%;
}

#radio5:checked ~ .first{
    margin-left: -60%;
}




/* #radio5:checked ~ .first{
    margin-left: -80%;
} */


/* sileder product */

#radio11:checked ~ .first{
    margin-left: 0;
    
}

#radio33:checked ~ .first{
    margin-left: -20%;
}

#radio44:checked ~ .first{
    margin-left: -40%;
}



.img-header-child{
    width: 100%;
}




.icon-body{
    display:none;
}

.slide{
    position: relative;
    cursor: pointer;
}

.slide:hover .icon-body{
    display:block;
    animation: fadeIn 1s ease-in;
}

/* end */


.sildes-icons-left{
    position: absolute;
    color: #fff;
    font-size: 2rem;
    top: 40%;
   
}

.sildes-icon-left{
    background-color: rgba(0,0,0,.32);
    padding: 18px 15px;
   
}

.sildes-icons-right{
    position: absolute;
    color: #fff;
    font-size: 2rem;
    top: 40%;
    right: 0;
}

.sildes-icon-right{
    background-color: rgba(0,0,0,.32);
    padding: 18px 15px;
   
}

/* header sort bar */

.l-2-4 a{
    text-decoration: none;
}

.l-2 a{
    text-decoration: none;
}

.header-mobile-search{
    display: none;
}


.ht-body{
    background-color: var(--white-color);
    padding-bottom: 30px;
}
.hide-modla{
    display: none;
}


.img-header-tow{
    width: 40%;
}

.heding-header-tow{
    font-size: 1.2rem;
    
}

.body-header-tow{
    padding: 15px 0px;
    background-color: #ffff;
    border-radius: 7px;
}

.img-slider{
    width: 100%;
}

.img-slider-body{
    margin-top: 15px;
    width: 100%;
}

.img-thuong-hieu{
    width: 100%;
}



.brand-stuft{
    background-color: #ffeada;
    margin-top: -7px;
    margin-left: 17px;
    margin-right: 17px;
    display: block;
    padding: 10px;
}

.brand-stuft-heading{
    background-color: #fff;
    margin-top: 40px;
    position: relative;
}




.brand-stuft-body{
    display: flex;
    justify-content: space-between;
    margin-left: 18px;
    /* background-color: #ffeada; */
    margin-top: -5px;
    height: 300px;
    position: relative;
}

.brand-stuft-body__color{
    color: red;
    
}

.brand-stuft-text{
    font-size: 1.6rem;
    padding: 0 12px;
}

.brand-stuft-link {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 12px;
}

.brand-stuft-icon{
    font-size: 1rem;
    
}



.brand-stuft-price{
    padding: 20px 0;
    font-size: 1.6rem;
    color: var( --primary-color);
    display:flex;
    justify-content: center;
}

.row-body{
    position: absolute;
}

.brand-stuft-img{
    width: 100%;
    padding: 12px;
}

/* category */

.category{
    margin-top: 16px;
    background-color: #fff;
}
.category-body-one{
    border-bottom: 2px solid #f2f2f2;
}
.category-header-body{
    display: block;
    padding: 24px;
    border-bottom: 2px solid #f2f2f2;
    
}

.category-header{
    color:rgba(0,0,0,.54);
    font-size: 1.6rem;
    
}

.catefory-chile-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.catefory-chile-body:hover{
    box-shadow: 1px 1px #ccc;
}

.category-body-img{
    width: 100%;
}

.category-body-heading{
    color:rgba(0, 0, 0, 0.8);
    font-size: 1.3rem;
    margin-bottom: 12px;
    text-align: center;
    
}



.product-conten{
    background-color: var(--white-color);
    margin-top: 1px;

}

.fast-sale{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    margin-top: 30px;
    border-bottom: 2px solid #f2f2f2;
    border-bottom: 1px solid #ccc;
}

.fast-sale-body{
    display: flex;
    align-items: center;
    padding: 14px;
   
}

.fast-sale-img{
    width: 42%;
}

.fast-sale-time{
    color: var(--white-color);
   
    margin-left: 18px;
    font-size: 1.4rem;
    margin-top: -4px;
    display:flex;
}

.fast-sale-hour{
    background-color: var(--text-color);
    padding: 1px 3px;
    font-weight: 500;
    margin-right: 8px;
    border-radius: 4px;
}

.fast-sale-text{
    padding: 14px;
    color: red;
    font-size: 1.6rem;
    font-weight: 200;
}



.home-ptoduct-item__price{
    justify-content: center;
}

.home-ptoduct-item__price-new{
    margin: 0;
    font-size: 1.8rem;
    font-size: 2.4rem !important;
}

.home-ptoduct-item__price-unit{
    text-decoration: underline;
    color: red;
    font-size: 1rem;
}




.skill-bar{
    height: 16px;
    background: #ffbda6;
    border-radius: 15px;
    width: 84%;
    margin: 8px auto;
    position: relative;
}



.skill-per{
    height: 16px;
    background: #ef3513;
    border-radius: 15px;
    position: relative;
    animation: fillBars 2.5s 1;
  }

.skill-bar-text{
    position:absolute;
    color: var(--white-color);
    font-size: 1.2rem;
    top: 1px;
    font-weight: 500;
    left: 30%;
}

.product-under-img{
    width: 100%;
}


.product-under-booton{
    background-color: var(--white-color);
    margin-top: 1px;
    padding-top: 8px;
}

.product-under-booton-header{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header-text{
    padding: 12px;
    font-size: 2rem;
    color: var(--primary-color);
    position: relative;
}

.header-text::before{
    content: "";
    display: block;
    border-left: 1px solid #d8d8d8;
    width: 12px;
    height: 20px;
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);;
}

.heading-text-heading-body{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.ptoduct-under-booton-body-img{
    /* padding: 0 12px; */
    width: 2%;
    margin-left: 20px;
    margin-right: 6px;
}

.ptoduct-under-booton-body{
    /* margin-top: 30px; */
    display: flex;
  

    justify-content: center;
    align-items: center;
}

.heading-text-heading{
    font-size: 1.5rem;
    color: #333333;
}


.header-heading-end{
    margin-right: 40px;
}

.heading-text{
    font-size: 1.5rem;
    color: #d0011b;
    text-decoration: none;
    padding: 6px;
}

.heading-text-icon{
    color: #fff;
    background-color: #d0011b;
    padding: 4px 7px;
    border-radius: 153px;
    position: relative;
    top: -1px;

}


.roduct-under-booton-img{
    width: 100%;
}

.roduct-under-booton-text{
    color: red;
    font-size: 1.7rem;
    position: relative;
    top: -40px;

    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* trends */

.trends{
    background-color: var(--white-color);
}

.trends-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid#ccc;
}

.trends-header-text{
    font-size: 1.6rem;
    padding: 20px;
    color: #9b9b9b;
    font-weight: 300;
}

.trends-header-img{
    margin: 0 12px;
    width: 14%;
}

.trends-header-right{
    position: relative;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-right: 20px;
    
}



.trends-conten{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid#ccc;
}

.trends-body-heading{
    display: flex;
    flex-direction: column;

   
}


.trends-body-text{
    color: var(--back-color);
    font-size: 1.4rem;
    margin-left: 15px;
}

.trends-body-sub{
    color: #9b9b9b;
    font-size: 1.2rem;
    margin-left: 15px;
}

.trends-body-img{
    width: 45%;
}

/* top search */

.top-search{
    background-color: var(--white-color);
}

.top-search-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.top-search-text-left{
    color: var(--primary-color);
    font-size: 1.6rem;
    padding: 20px;
}


.top-search-conten-sp{
    padding: 18px;
}

.top-search-conten-img{
    position: relative;
    
}

.top-search-conten-heading{
    position: absolute;
    bottom: 0;
    background-color: #ccc;
    right: 0;
    width: 100%;
    height: 20px;
    color: var(--white-color);
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-search-img{
    width: 115%;
    
}

.top-search-conten-botton{
    position: absolute;
    left: 0;
    top: 0;
}

.top-search-conten-botton-img{
    width:34%;
}


.suggestions{
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.suggestions-text{
    color: var(--primary-color);
    font-size: 1.8rem;
    padding:  18px 50px;
    border-bottom: 3px solid var(--primary-color);
}

.suggestions-img{
    width: 18%;
}



.product-conten-sub{
    position: absolute;
    bottom: -32px;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    width: 100%;
}

.product-conten-sub-text{
    
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    display: none;

}

.home-ptoduct-item:hover .product-conten-sub-text{
   
    display: flex;
}